h1{
    text-shadow:0.1em 0.1em #D0E3FA;
    font-family : Arial;
	color :  #cc0e0e;
	font-variant : small-caps;
    font-size: 60px;
}

h2{
    font-size: 30px;
	font-family : Arial;
	color :  #0ecc57;
	font-variant : small-caps;
	
} 